:root{
    --background: rgb(216, 148, 255);
    --quiz: rgb(188, 220, 248);
    --highscore: rgb(253, 180, 180);
    --accent: rgb(184, 247, 212);
}

body {
    box-sizing: border-box;
    display: flex;
    flex-flow: column wrap;
    background-color: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#timer {
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: bold;
    font-size: 25px;
    padding: 25px;
}

section {
    display: flex;
    flex-flow: row-reverse wrap;
    min-height: 400px;
    margin: 0 auto;
    width: 90%;
    background-color: var(--highscore);
    border-radius: 10%;
    font-size: 24px;
}

#quiz-box {
    background-color: var(--quiz);
    width: 90%;
    border-radius: 2%;
    z-index: 5;
    opacity: 1;
    transition: opacity 1s;
    transition-delay: .3s;
    height: 400px;
}

#highscore {
    width: 10%;
    writing-mode: vertical-lr;
    text-orientation: upright;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    z-index: 2;
}

#highscore:hover ~ #quiz-box{
    opacity: 0;
}

p {
    margin-left: 10px;
}

label {
    width: 60%;
}

label,
input {
    padding: 10px 0px;
    margin: 10px 5px;
    display: inline-block;
}

input {
    display: none;
}

button {
    align-self: flex-start;
    margin: 10px 0 0 50px;
    border: none;
    background-color: var(--accent);
    padding: 10px;
    border-radius: 7%;
    width: 200px;
    height: 90px;
    font-weight: bold;
    font-size: 30px;
}

#scorebox {
    position: absolute;
    width: 60%;
    z-index: 1;
    background-color:var(--accent);
    padding: 10px;;
    right: 20%;
    border-radius: 4%;
    max-height: 300px;
    font-size: 16px;
}

@media screen and (max-width: 738px) {
    section {
        flex-flow: column-reverse wrap;
        height: 500px;
        font-size: 16px;
    }

    #quiz-box {
        width: 100%;
        height: 400px;
    }

    #highscore {
        height: 100px;
        writing-mode: horizontal-tb;
        width: 100%;
    }

    #scorebox {
        top: 90px;
    }

    label,
    input {
        margin: 15px 5px;
    }

    button {
        width: 90%;
        align-self: center;
        margin: 30px 0;
        display: inline-block;
        height: 150px;
        border: 1px solid rgb(99, 60, 94);
        font-size: 30px;
    }
}

@media screen and (max-width: 420px) {
    h1,
    #timer {
        font-size: 18px;
        padding: 10px;
    }

    #timer {
        margin: 10px 5px 0 0;
    }

    section {
        height: 400px;
        font-size: 13px;
    }

    #quiz-box {
        height: 330px;
    }

    #highscore {
        height: 70px;
        text-align: center;
        justify-content: center;
    }

    #scorebox {
        font-size: 10px;
    }

    label,
    input {
        margin: 5px 5px;
    }

    button {
        height: 100px;
    }
}